/* Map elements */

#mapstory path.communities {
  fill: #f1c21c;
  fill-opacity: .6;
  stroke: #f1c21c;
  stroke-width: 0;
  stroke-linejoin: round;
  cursor: pointer;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
}

#mapstory path.communities:hover {
  fill: #ab8b1e;
  cursor: pointer;
}

#mapstory path.communities.outline {
  fill: none;
  stroke-width: 4px;
  opacity: 0.5;
  cursor: auto;
}

#mapstory path.communities.outline:hover {
  cursor: auto;
}

#mapstory path.ecuador {
  stroke: #f1c21c;
  stroke-width: 2px;
  fill-opacity: 0 !important;
}

#mapstory path.ecuador:hover {
  stroke: #ab8b1e;
  cursor: pointer;
}

#mapstory path.ecuador.outline {
  display: none;
}