/* Map elements */

#mapstory .communities path {
  fill: #f1c21c;
  fill-opacity: .6;
  stroke: #f1c21c;
  stroke-width: 3;
  stroke-opacity: 0;
  stroke-linejoin: round;
  -webkit-transition: stroke-opacity, fill-opacity, fill;
  transition: stroke-opacity, fill-opacity;
}

#mapstory .communities path:hover {
  fill: #ab8b1e;
  cursor: pointer;
}

#mapstory .communities path.parentActive {
  stroke-opacity: 0.8;
}

#mapstory .feature-label {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2em;
  position:relative;
  left:0;
  bottom:0;
  background:#f1c21c;
  color:#000;
  cursor: pointer;
  padding:0.25em;
  margin:0;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 10px 0px #222;
          box-shadow: 0px 0px 10px 0px #222;
}

#mapstory .feature-label::after {
  content: "";
  background-color: black;
  opacity: 0.4;
  height: 0.25em;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
}

#mapstory .communities path.inside
, #mapstory .communities path.active {
  stroke-width: 4px;
  stroke-opacity: 1;
  opacity: 0.5;
  fill-opacity: 0;
  cursor: auto;
  pointer-events: none;
}

#mapstory .communities path.inside:hover {
  cursor: auto;
  fill: inherit;
}

#mapstory .country path {
  stroke: #f1c21c;
  stroke-width: 2px;
  fill-opacity: 0 !important;
}

#mapstory .country path:hover {
  stroke: #ab8b1e;
  cursor: pointer;
}

#mapstory .country path.inside {
  display: none;
}