#mapstory {
  margin:0px;
  padding:0px;
  font: 400 14px/21px "PT Sans",Arial,sans-serif;
  background: #222;
}

#mapstory #mappane {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
  
#mapstory #map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:100%;
  height:100%;
}
  
#mapstory svg {
  width: 100%;
  height: 100%;
}

#mapstory #legend {
  position: absolute;
  bottom: 0;
  right: 0;
  /* background set to opacity 60% with data uri */
}

#mapstory #legend dl {
	margin: 0.5em;
	font-family: "Yanone Kaffeesatz"; /* main font/type */
	font-size: 1.5em;
	display: block;
	color: #eeeeee;
	text-decoration: none;
}

#mapstory #legend dt {
  display: block;
  margin: 0 0 0.75em; 
  padding: 0 0.5em 0 1.5em;
  background-repeat: no-repeat;
  background-size: 0.95em 0.95em;
  background-position: 0 50%;
}

#mapstory #legend dt.system {
  /* Background image cw system icon set with data uri */
}

#mapstory #legend dt.story {
  /* Background image featured story set with data uri */
}

@media (max-width:640px) {
  #mapstory #map {
    display: none;
  }
  #mapstory #nav {
    display: none;
  }
  #mapstory #stories {
    margin: 0;
    width: 100%;
  }
  #mapstory #stories article, #mapstory #stories section {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  #mapstory #stories section h3 {
    display: none;
  }
  #mapstory #stories .background {
    width: 100% !important;
  }
  #mapstory .affixed, #mapstory .collapsed {
    position: relative !important;
  }
  #mapstory .offscreen {
    display: inherit;
  }
  #mapstory .faded {
    opacity: inherit;
  }
}

@media (max-width:768px) {
  #mapstory {
    font-size:12px;
    line-height:18px;
    }
  #mapstory #nav {
    display: none;
  }
  #mapstory #stories article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    /*padding-bottom:200%;*/
    }  
  #mapstory #stories article, #mapstory #stories section {
    margin-bottom: 0;
    margin-top: 0;
  }
  #mapstory #stories section {
    text-shadow:none;
    margin-left:0px;
    /*padding:30px;*/
    }
  #mapstory #mappane { width:100%; }
  #mapstory #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  #mapstory #legend {
    display: none;
  }
}

@media (min-width:1280px) {

#mapstory {
  font-size:16px;
  line-height:24px;
  }
}
  
  

