#mapstory #map { position:absolute; top:0; bottom:0; width:100%; }

#mapstory svg {
  width: 100%;
  height: 100%;
}

#mapstory {
  margin:0px;
  padding:0px;
  font: 400 14px/21px "PT Sans",Arial,sans-serif;
  background: white;
}

#mapstory #stories {
  color: #eee;
}


#mapstory #stories section {
  width: 30em;
}

#mapstory #stories h1, #mapstory #stories h2 {
  line-height: 1em;
  padding: 0.25em 1em;
  margin: 0;
  font-weight: normal;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.outline { display: none;}

#mapstory #stories h1 {
  opacity: 1 !important;
  padding: 0.2em 0.88889em;
  margin-left: -0.88889em;
  width: 11.55556em;
  font-size: 2.25em;
  font-weight: 700;
  z-index: 3;
  color: black;
  background-color: #f2c21c;
  -webkit-transition-property: padding,margin;
    	-moz-transition-property: padding,margin;
  	    -o-transition-property: padding,margin;
  	   -ms-transition-property: padding,margin;
  	       transition-property: padding,margin;
  -webkit-transition-duration: 0.1s;
  	 -moz-transition-duration: 0.1s;
  	   -o-transition-duration: 0.1s;
  	  -ms-transition-duration: 0.1s;
  	      transition-duration: 0.1s;
}

#mapstory #stories h1.fixedTop {
  margin-left: -1.88889em;
  padding-left: 1.88889em;
}

#mapstory #stories h1.fixedTop:hover {
  cursor: pointer;
  background-color: #ab8b1e;
}

#mapstory #stories h1::before {
  background: url(/images/back-arrow.png) 0 50% no-repeat;
  background-size: contain;
  opacity: 0;
  width: 1em;
  height: 1em;
  position: fixed;
  margin: 0.2em;
  left: 0;
  top: 0;
  content: "";
  transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
}

#mapstory #stories h1.fixedTop::before {
  opacity: 1;
}

#mapstory #stories h1.fixedBottom, 
#mapstory #stories h2.fixedBottom {

}

#mapstory #stories h2 {
  margin-left: -1em;
  width: 13em;
  font-size: 2em;
  color: #f2c21c;
  background-color: black;
}

#mapstory #stories .text {
  background-color: #333;
  padding: 0 2em 0.5em;
  position: relative;
}

#mapstory #stories .text.below {
  position: absolute;
}

#mapstory .button {
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: 1px 1px 3px #666666;
	border: solid #8d85ff 0px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#7656b3), to(#7656b3));
	background: -moz-linear-gradient(top, #7656b3, #7656b3);
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#mapstory .button:hover {
  background: #6d52a8;
}

#mapstory #stories ul, #mapstory #stories p {

}

#mapstory #stories ul {
  font-size: 1.1em;
list-style-type: none;
}

#mapstory #stories ul li {
margin-bottom: 0.5em;
}

#mapstory #stories .image {
  background-color: #222;
  position: relative;
  height: 0;
  padding-bottom: 66.67%;
  overflow: hidden;
}

#mapstory #stories img {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

a 
{
	color: #f2c21c;
	text-decoration: none;	
}

#mapstory a.scroll {
	color: #fff;
	position: absolute;
	right: 0px;
	bottom: -40px;
	font-size: 0.7em;
	text-transform: uppercase;
	padding: 5px 10px;
	height: 56px;
}
#mapstory a.scroll:after {
content: " ▼";
}
#mapstory .colophon {
  display:block;
  margin-top:10px;
  }

#mapstory #mappane {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  }
#mapstory #map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:100%;
  height:100%;
  }
#mapstory #label {
  position: absolute;
  padding: 5px 10px;
  color: black;
  background: #f1c21c;
  font-family: "Yanone Kaffeesatz";
  font-size: 1.5em;
  z-index: 999;
  display: none;
  box-shadow: 0 10px 0 rgba(0,0,0,0.5);
}
#mapstory #legend {
opacity: 0;
position: absolute;
bottom: 0;
right: 0;
width: 340px;
background: #222;
transition:opacity 500ms;
-moz-transition:opacity 500ms;
-webkit-transition:opacity 500ms;
}

#mapstory.zoom12 #legend {
opacity: 0.7;
filter: alpha(opacity = 70); /* For IE */
}

#mapstory #legend dl {
	margin: 10px;
	padding: 10px;
	font-family: "Yanone Kaffeesatz"; /* main font/type */
	font-size: 1.5em;
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

#mapstory #legend dt {
  display: block;
  margin: 0; padding: 0 0 0 1.65em;
  line-height: 1.2em;
  background-repeat: no-repeat;
  background-size: 0.95em 0.95em;
  background-position: 5px;
}
#mapstory #legend dt.system {
  background-image: url(http://digidem.github.io/clearwater-map/images/cw-system.png);
}
#mapstory #legend dt.story {
  background-image: url(http://digidem.github.io/clearwater-map/images/cw-story.png);
}

@media (max-width:640px) {
  #mapstory #map {
    display: none;
  }
  #mapstory #nav {
    display: none;
  }
  #mapstory #stories {
    margin: 0;
    width: 100%;
  }
  #mapstory #stories article, #mapstory #stories section {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  #mapstory #stories section h3 {
    display: none;
  }
  #mapstory #stories .background {
    width: 100% !important;
  }
  #mapstory .affixed, #mapstory .collapsed {
    position: relative !important;
  }
  #mapstory .offscreen {
    display: inherit;
  }
  #mapstory .faded {
    opacity: inherit;
  }
}

@media (max-width:768px) {
  #mapstory {
    font-size:12px;
    line-height:18px;
    }
  #mapstory #nav {
    display: none;
  }
  #mapstory #stories article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    /*padding-bottom:200%;*/
    }  
  #mapstory #stories article, #mapstory #stories section {
    margin-bottom: 0;
    margin-top: 0;
  }
  #mapstory #stories section {
    text-shadow:none;
    margin-left:0px;
    /*padding:30px;*/
    }
  #mapstory #mappane { width:100%; }
  #mapstory #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  #mapstory #legend {
    display: none;
  }
}

@media (min-width:1280px) {

#mapstory {
  font-size:16px;
  line-height:24px;
  }
}
  
  

