body {
  margin: 0;
  overflow: hidden;
}

html {
  font: 400 14px/21px "PT Sans",Arial,sans-serif;
}

#mapstory {
  margin:0px;
  padding:0px;
  background: #222;
}

#mapstory #mappane {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
  
#mapstory, #mapstory #map, #mapstory .wrapper {
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

#mapstory #map {
    overflow: hidden;
}

#mapstory #map.markers-shown {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

#mapstory #map.zoomed-in {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}

#mapstory #map {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

#mapstory #map.dragging {
  cursor: -webkit-grabbing !important;
}

#mapstory #map img {
  -webkit-transition: opacity 1000ms;
}
  
#mapstory svg {
  width: 100%;
  height: 100%;
}

#mapstory #legend {
  z-index: 999;
  position: absolute;
  bottom: 0;
  right: 0;
}

#mapstory #attribution {
  z-index: 999;
position: absolute;
padding: 0.4em 0.5em 0.1em;
font-size: 0.8em;
bottom: 0;
left: 50%;
text-align: center;
line-height: 1.3em;
}

#mapstory #attribution a {
  color: #1e0fbe;
}

#mapstory #attribution a:hover {
  text-decoration: underline;
}


#mapstory #legend dl {
  position: relative; 
  top:0;
  margin: 0;
	padding: 0.7em;
	display: block;
	color: #eeeeee;
	text-decoration: none;
  /* background set to opacity 60% with data uri */
  -webkit-transition: top 500ms ease;
}


#mapstory #legend dt {
  display: block;
  margin: 0 0 0.3em; 
  padding: 0 0.5em 0 1.5em;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: 0 50%;
}

#mapstory #legend dt.system {
  /* Background image cw system icon set with data uri */
}

#mapstory #legend dt.story {
  /* Background image featured story set with data uri */
}

@media (max-width:640px) {
  #mapstory #map {
    display: none;
  }
  #mapstory #nav {
    display: none;
  }
  #mapstory #stories {
    margin: 0;
    width: 100%;
  }
  #mapstory #stories article, #mapstory #stories section {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  #mapstory #stories section h3 {
    display: none;
  }
  #mapstory #stories .background {
    width: 100% !important;
  }
  #mapstory .affixed, #mapstory .collapsed {
    position: relative !important;
  }
  #mapstory .offscreen {
    display: inherit;
  }
  #mapstory .faded {
    opacity: inherit;
  }
}

@media (max-width:768px) {
  html {
    font-size:12px;
    line-height:18px;
    }
  #mapstory #nav {
    display: none;
  }
  #mapstory #stories article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    /*padding-bottom:200%;*/
    }  
  #mapstory #stories article, #mapstory #stories section {
    margin-bottom: 0;
    margin-top: 0;
  }
  #mapstory #stories section {
    text-shadow:none;
    margin-left:0px;
    /*padding:30px;*/
    }
  #mapstory #mappane { width:100%; }
  #mapstory #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  #mapstory #legend {
    display: none;
  }
}

@media (min-width:1280px) {

html {
  font-size:16px;
  line-height:24px;
  }
}
  
  

