#mapstory #overlay .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #eee;
    font-family:'Covered by your Grace', Arial, sans-serif;
    display: none;
    font-size: 1.7em;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    opacity: 0;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    z-index: 2;
}
#mapstory #overlay .hint {
    position: absolute;
}
#mapstory #overlay-communities {
    z-index: 3 !important;
}
.hint.nav {
    left: 1.4rem;
    top: 2.9rem;
    padding: 0.6rem 0 0rem 3rem;
    background: url(../images/arrow-nav.png) no-repeat top left;
}
.hint.communities, .hint.ecuador, .hint.installations {
    left: 50%;
    top: 40%;
    width: 30rem;
    text-align: center;
}
.hint.communities {
    background: url(../images/arrow-communities.png) no-repeat;
    background-size: contain;
    top: 50%;
    padding: 8rem 5rem 7rem 0;
    margin: -8rem -5rem -7rem 0;
}
.hint.ecuador {
    background: url(../images/arrow-ecuador.png) no-repeat top center;
    left: 45%;
    padding: 6rem 0 0 4rem;
    margin: -6rem 0 0 2rem;
}
.hint.next {
    bottom: 1.2rem;
    left: 33rem;
    padding: 0 0 1.9rem 1.3rem;
    background: url(../images/arrow-next.png) no-repeat bottom left;
}
.hint.legend {
    right: 9rem;
    bottom: 11rem;
    background: url(../images/arrow-legend.png) no-repeat bottom right;
    padding: 0 5rem 1.7rem 0;
}
.hint.prev {
    top: 1.2rem;
    left: 33rem;
    padding: 1.7rem 0 0 1.7rem;
    background: url(../images/arrow-prev.png) no-repeat top left;
}
.hint.donate {
    top: 1rem;
    right: 3rem;
    background: url(../images/arrow-donate.png) no-repeat top right;
    padding: 1rem 1rem 0 0;
}
