#mapstory #stories article
, #mapstory .top-headings
, #mapstory .next-headings {
  width: 30em;
  position: absolute;
  margin: 0;
  color: #eee;
  background-color: #333;
  margin-left: 2em;
  z-index: 1;
}

#mapstory #stories .top-headings
, #mapstory #stories .next-headings {
  z-index: 2;
}


#mapstory #stories .top-headings div
, #mapstory #stories .next-headings div {
  cursor: pointer;
  width: 100%;
}

#mapstory .top-headings div {
  top: 0;
}

#mapstory #stories .top-headings h1
, #mapstory #stories .top-headings h2 {
  background-position: 98% 50%;
  background-repeat: no-repeat;
  /* background image back arrow from data uri */
  background-size: 0.2em;
}

#mapstory #stories .top-headings h1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1.3em;
  left: -1em;
  top: 0;
  background: #f2c21c;
}

#mapstory #stories .top-headings button.nav:before {
  content: "";
  position: absolute;
  left: 0.45em;
  width: 0.7em;
  z-index: 1;
}

#mapstory #stories .top-headings h1 + button.nav:before {
  top: 0.45em;
  height: 0.11em;
  background: black;
  box-shadow: 0 0.24em 0 0 black, 0 0.46em 0 0 black;
}

#mapstory #stories .top-headings h2 + button.nav:before {
  top: 0.42em;
  height: 0.09em;
  background: #f2c21c;
  box-shadow: 0 0.24em 0 0 #f2c21c, 0 0.46em 0 0 #f2c21c;
}

#mapstory #stories .top-headings button.nav {
  outline: none;
  position: absolute;
  left: -1em;
  height: 100%;
  top: 0;
  width: 1.3em;
    border: none;
  padding: 0;
  display: block;
  font-size: 2.25em;
    cursor: pointer;
  background-color: transparent;
}

#mapstory #stories .top-headings h1 + button.nav:hover {
  background-color: #ab8b1e;
}

#mapstory #stories .top-headings h2 + button.nav:hover:before {
  background: #ab8b1e;
  box-shadow: 0 0.24em 0 0 #ab8b1e, 0 0.46em 0 0 #ab8b1e;
}

#mapstory #stories .top-headings div.active h1
, #mapstory #stories .top-headings div.active h2 {
  background-size: 1em;
  -webkit-transition: background-size 200ms cubic-bezier(0.360, 0.055, 0.865, 1.620);
  transition: background-size 200ms cubic-bezier(0.360, 0.055, 0.865, 1.620);
}

#mapstory #stories .top-headings div.active h1:hover 
, #mapstory #stories .next-headings div.active h1:hover {
  background-color: #ab8b1e;
}


#mapstory #stories .top-headings div.active h1:hover
, #mapstory #stories .top-headings div.active h2:hover {
  background-size: 1.15em;
    -webkit-transition: background-size 200ms cubic-bezier(0.235, 5, 0.1, 1.005);
  transition: background-size 200ms cubic-bezier(0.235, 5, 0.1, 1.005);

}

#mapstory #stories .top-headings h2 {
  margin-left: -1.125em;
  padding-left: 1.625em;
}

#mapstory .next-headings, #mapstory .next-headings div {
  bottom: 0;
}

#mapstory #stories h1, #mapstory #stories h2 {
  line-height: 1em;
  margin: 0;
  font-weight: normal;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-size: 0.7em;
  background-repeat: no-repeat;

}

#mapstory #stories h1 {
  padding: 0.2em 0.444444em;
  font-size: 2.25em;
  font-weight: 700;
  color: black;
  background-color: #f2c21c;
	/* background image black down arrow from data uri */
  transition: background-position 100ms linear, padding, margin;
  -moz-transition: background-position 100ms linear, padding, margin;
  -webkit-transition: background-position 100ms linear, padding, margin;
  -ms-transition: background-position 100ms linear, padding, margin;
}



#mapstory #stories .next-headings {
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
	transition-duration: 250ms;
  
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


#mapstory #stories .top-headings h2:hover
, #mapstory #stories .next-headings h2:hover {
  color: #ab8b1e;
	/* background image orange down arrow from data uri */
}

#mapstory #stories .next-headings h1
, #mapstory #stories .next-headings h2 {
  background-position: 97.5% 200%;
  transition: background-position 200ms ease-in-out;
  -webkit-transition: background-position 200ms ease-in-out;
}


#mapstory #stories .next-headings .active h2, #mapstory #stories .next-headings .active h1 {
  background-position: 97.5% 50%;
}

#mapstory #stories .text {
  padding: 1em;
}

#mapstory #stories h2 {
  padding: 0.25em 0.5em;
  font-size: 2em;
  color: #f2c21c;
  background-color: black;
	/* background image yellow down arrow from data uri */
}

#mapstory .button {
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: 1px 1px 3px #666666;
	border: solid #8d85ff 0px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#7656b3), to(#7656b3));
	background: -moz-linear-gradient(top, #7656b3, #7656b3);
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#mapstory .button:hover {
  background: #6d52a8;
}

#mapstory #stories ul, #mapstory #stories p {
  text-rendering: optimizeLegibility;
}

#mapstory #stories ul {
  font-size: 1.1em;
  list-style-type: none;
  margin: 0;
  padding-left: 0.5em;
}

#mapstory #stories ul li {
margin-bottom: 0.6em;
}

#mapstory #stories img {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mapstory a {
	color: #f2c21c;
	text-decoration: none;	
}