#mapstory #stories article {
  width: 30em;
  position: absolute;
  margin: 0;
  color: #eee;
  background-color: #333;
}


#mapstory #stories h1, #mapstory #stories h2 {
  line-height: 1em;
  margin: 0;
  font-weight: normal;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-position: 97.5% 200%;
  background-size: 0.7em;
  background-repeat: no-repeat;

}

#mapstory #stories h1 {
  padding: 0.2em 0.444444em;
  margin-bottom: 0.444444em;
  font-size: 2.25em;
  font-weight: 700;
  color: black;
  background-color: #f2c21c;
	/* background image black down arrow from data uri */
  transition: background-position 100ms linear, padding, margin;
  -moz-transition: background-position 100ms linear, padding, margin;
  -webkit-transition: background-position 100ms linear, padding, margin;
  -ms-transition: background-position 100ms linear, padding, margin;
}


#mapstory #stories h1:before {
  background-position: 0 50%;
  background-repeat: no-repeat;
  /* background image back arrow from data uri */
  background-size: 1em;
  opacity: 0;
  width: 1.2em;
  height: 1em;
  position: fixed;
  margin: 0.2em;
  left: 0;
  top: 0;
  content: "";
}

#mapstory #stories h1.fixedTop:before {
  opacity: 1;
}

#mapstory #stories .fixedBottom, #mapstory #stories .fixedTop {
	cursor: pointer;
}

#mapstory #stories .fixedBottom {
	-webkit-transition-duration: 250ms;
	-moz-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	-ms-transition-duration: 250ms;
	transition-duration: 250ms;
  
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


#mapstory #stories h2.fixedBottom:hover {
  color: #ab8b1e;
	/* background image orange down arrow from data uri */
}

#mapstory #stories h1.fixedBottom {
  background-position: 97.5% 50%;
}

#mapstory #stories h2.fixedBottom {
  background-position: 97.5% 50%;
}

#mapstory #stories .text {
  padding: 1em;
}

#mapstory #stories h2 {
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #f2c21c;
  background-color: black;
	/* background image yellow down arrow from data uri */
  transition: background-position 100ms linear;
  -moz-transition: background-position 100ms linear;
  -webkit-transition: background-position 100ms linear;
}

#mapstory .button {
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 5px;
	text-decoration: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: 1px 1px 3px #666666;
	border: solid #8d85ff 0px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#7656b3), to(#7656b3));
	background: -moz-linear-gradient(top, #7656b3, #7656b3);
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#mapstory .button:hover {
  background: #6d52a8;
}

#mapstory #stories ul, #mapstory #stories p {
  text-rendering: optimizeLegibility;
}

#mapstory #stories ul {
  font-size: 1.1em;
  list-style-type: none;
}

#mapstory #stories ul li {
margin-bottom: 0.5em;
}

#mapstory #stories img {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mapstory a {
	color: #f2c21c;
	text-decoration: none;	
}