body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-popup-close-button {
    display: none;
}
.leaflet-popup-content-wrapper {
    pointer-events: none;
}
body {
  margin:0px;
  padding:0px;
  font:normal 15px/20px "PT Sans",Arial,sans-serif;
  background:#fff;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
#stories {
  width:400px;
  min-width:320px;
  position:absolute;
  margin: 0 0 0 40px;
  top: 100%;
  color:#eee;
  transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
}
#ecuador {
  position: absolute;
  bottom: 100%;
}
article {
  position: relative;
}

.background {
  background-color: #222;
  position: relative;
}

.affixed {
position: fixed !important;
}

section {
  background-color: #222;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
  }
section,
section a {
  }
section.active {
  }
section.active a { color:#eee; text-decoration: underline; }
section.active small { color:#aaa; }
section h1 {
font-weight: bold;
font-size: 2.2em;
}
h1,h2 { font-size:2em; line-height:1em; background-color: #f2c21c; padding: 5px 40px; color: black; font-weight: normal;margin:0 0 0.5em;font-family: "Yanone Kaffeesatz";position:relative;}
section h2:before { 
content: "Featured Story";
display: block;
background: rgba(0,0,0,0.5);
color: #f2c21c;
position: absolute;
bottom: 100%;
right: 0;
left: 0;
padding: 1px 40px;
font-size: 0.7em;
}
p, ul { padding:0 40px 2em; 
margin:0;}

section ul {
list-style-type: none;
font-size: 1.2em;
}
section ul li {
margin-bottom: 0.5em;
}


#stories img {
display: block;
width: 400px;
height: 267px;
  left: 0;
  position: relative;
  transition:opacity 500ms;
  -moz-transition:opacity 500ms;
  -webkit-transition:opacity 500ms;
}
section.active img {
  z-index: 0;
  opacity: 1;}
  section.active h2 {
    z-index: 2;}
.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:10px;
  text-transform:uppercase;
  padding:5px 10px;
  }
.colophon {
  display:block;
  margin-top:10px;
  }

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
  }
#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:200%;
  left:-50%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  }
#map .leaflet-objects-pane {
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}
/* Distinguish the "cover page" visually other sections. */
body.overview-section-0 #map { opacity:0.5; }

/* Don't show area overlay on "cover page" */
body.overview-section-0 #map .leaflet-objects-pane { opacity:0; }

.d3-vec { position:absolute; }
path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}


@media (max-width:640px) {
  body {
    font-size:12px;
    line-height:16px;
    }
  article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    padding-bottom:200%;
    }
  section {
    text-shadow:none;
    margin-left:0px;
    padding:30px;
    }
  section.active {
    position:fixed;
    top:0px; left:0px; right:0px;
    }
  #pane { width:100%; }
  #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  }

@media (min-width:1280px) {
#stories {width:540px;}
#stories img {
width: 540px;
height: 360px;}
  body {
    font-size:18px;
    line-height:24px;
    }
  }