body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.leaflet-popup-close-button {
    display: none;
}
.leaflet-popup-content-wrapper {
    pointer-events: none;
}
body {
  margin:0px;
  padding:0px;
  font:normal 15px/20px "PT Sans",Arial,sans-serif;
  background:#fff;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
#stories {
  width:400px;
  min-width:320px;
  position:absolute;
  margin: 0 0 0 40px;
  top: 100%;
  color:#eee;
  transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
}
#ecuador {
  position: absolute;
  bottom: 100%;
}
article {
  position: relative;
}

.background {
  background-color: #222;
  position: relative;
  bottom: 0;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.affixed {
position: fixed !important;
}

.collapsed {
position: absolute !important;
}

.offscreen {
display: none;
}

section {
  background-color: #222;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
  }

#stories section h1 {
font-weight: bold;
font-size: 2.2em;
}
#stories h1, #stories h2 { font-size:2em; line-height:1em; background-color: #f2c21c; padding: 5px 40px; color: black; font-weight: normal;margin:0 0 0.5em;font-family: "Yanone Kaffeesatz";position:relative;}

#stories p, #stories ul { padding:0 40px 2em; 
margin:0;}

#stories section ul {
list-style-type: none;
font-size: 1.2em;
}
#stories section ul li {
margin-bottom: 0.5em;
}

#stories img {
display: block;
width: 400px;
height: 267px;
left: 0;
position: relative;
transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}

a.scroll {
color: #fff;
  position:absolute;
  right:0px; bottom:0px;
  font-size:0.7em;
  text-transform:uppercase;
  padding:5px 10px;
}
a.scroll:after {
content: " ▼";
}
.colophon {
  display:block;
  margin-top:10px;
  }

#pane {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  }
#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:100%;
  height:100%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  }
#map .leaflet-objects-pane {
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

.d3-vec { position:absolute; }
path {
  fill: #f1c21c;
  fill-opacity: .6;
  stroke: #fff;
  stroke-width: 0;
  cursor: pointer;
}

path:hover {
  fill: #ab8b1e;
  fill-opacity: 0.8;
}

.project-area path {
fill-opacity: .9;
filter: url(#blur);
}

.project-area path:hover {
  fill-opacity: 0.9;
  filter: url(#blur-hover);
}

@media (max-width:640px) {
  body {
    font-size:12px;
    line-height:16px;
    }
  article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    padding-bottom:200%;
    }
  section {
    text-shadow:none;
    margin-left:0px;
    padding:30px;
    }
  #pane { width:100%; }
  #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  }

@media (min-width:1280px) {
#stories {width:540px;}
#stories img {
width: 540px;
height: 360px;}
body {
  font-size:18px;
  line-height:24px;
  }
}
  
  
/* Map elements */

.marker {
margin-left: -8px;
margin-top: -8px;
width: 16px;
height: 16px;
display: block;
position: absolute;
cursor: pointer;
pointer-events: all;
-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
-webkit-transition-property: width,height,margin;
  	-moz-transition-property: width,height,margin;
	    -o-transition-property: width,height,margin;
	   -ms-transition-property: width,height,margin;
	       transition-property: width,height,margin;
-webkit-transition-duration: 0.1s;
	 -moz-transition-duration: 0.1s;
	   -o-transition-duration: 0.1s;
	  -ms-transition-duration: 0.1s;
	      transition-duration: 0.1s;
}

.marker:hover {
margin-left: -17px;
margin-top: -17px;
width: 33px;
height: 33px;
z-index:2;
pointer-events: all;

}

.marker-popup {
  position:absolute;
  left:0;
  bottom:0;
  height: 130px;
  width:150px;
  background:#fff;
  color:#000;
  padding:0;
  margin:0;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 5px 0px #ccc;
          box-shadow: 0px 0px 5px 0px #ccc;
}

.marker-popup img {
display: block;
width: 150px;
height: 100px;
}

.marker-popup p {
margin-top: 3px;
margin-left: 10px;
}